<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIESEL MOBILE REFILL ::ABOUT US::</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="white-part">
            <marquee behavior="" direction="left">
                <p class="No"><img src="/img/phone-call.png" alt="" width="19">0912-200-2000</p>
            </marquee>
        
            <div class="img">
                <img src="/img/logo.png" alt="Home" width="100">
                <p>DIESEL MOBILE REFILL</p>
            </div>

            

            <div class="nav-bar">
                <img src="/img/hamburger-menu.jpg" alt="Open menu" width="27" class="hamburger">
                <nav class="dropdown-menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/mission">MISSION & VISION STATEMENT</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="green-part">
            <p class="price"><b>Today's Diesel Price:</b> Call 0912-200-2000</p>
        </div>
        
    </header>

    <main>
        <div class="abt-body">
            <h2>ABOUT US</h2>

            <p class="context">
                We are <strong>REFILL NG OIL AND GAS LIMITED</strong>, a Department of Petroleum Resources (DPR) Licensed Operator of 
                <strong>DIESEL REFILL™ - AUTOMOTIVE GAS OIL {AGO} MOBILE DISPENSING.</strong>
                We are an emerging petroluem products marketer and haulage service delivery company with Headquarters and Sales Office in Lagos,
                Nigeria. We commenced operations in October, 2018 and now operate a network of Diesel sales and
                haulage delivery services in Ogun State, Edo State, Delta State and Rivers State as more states would be added soon.
            </p>
            <div class="board">
                <h4>BOARD OF DIRECTORS</h4>
                <p><b>CEO/MANAGING DIRECTOR:</b>Mr Isah Abdullai</p>
                <p><b>DIRECTOR:</b>Mrs Fawziah Abdullai</p>
            </div>
            
        </div>
    </main>
    <footer>
        <div class="home-footer">
            <p>&copy 2022 DIESEL REFILL. ALL RIGHTS RESERVED</p>
        </div>
    </footer>
    <script src="/javascript/script.js"></script>
</body>
</html>