<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIESEL MOBILE REFILL</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="white-part">
            <marquee behavior="" direction="left">
                <p class="No"><img src="/img/phone-call.png" alt="" width="19">0912-200-2000</p>
            </marquee>
        
            <div class="img">
                <img src="/img/logo.png" alt="Home" width="100">
                <p style="margin-left: 10px;">DIESEL MOBILE REFILL</p>
            </div>

            <div class="nav-bar">
                <img src="/img/hamburger-menu.jpg" alt="Open menu" width="27" class="hamburger">
                <nav class="dropdown-menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/mission">MISSION & VISION STATEMENT</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="green-part">
            <p class="price"><b>Today's Diesel Price:</b> Call 0912-200-2000</p>
        </div>
        
    </header>

    <main>
        <div class="home-container">
            <div class="first-layer">
                <div class="head">
                    <h4>DIESEL DELIVERY TO YOUR DOOR STEP</h4>
                </div>
                <div class="body">
                    <p>
                        DIESEL MOBILE REFILL is your quick, flexible and convenient way to order online and over the phone and pay on delivery
                        for diesel (Automotive Gas Oil). We supply high quality diesel at competitive price, delivered to your door step, within 
                        24 to 36 hours and also available Monday to Saturday Priority-Express 3 Hours delivery to door step on selected 
                        locations on Lagos Mainland and 6 hours delivery to door step on selected locations on Lagos Island
                    </p>

                    <div class="cta">
                        <p><a href="/order">ORDER NOW</a></p>
                    </div>
                </div>
            </div>

                <div class="outside">
                    <h6>Diesel Refill</h6>
                    <p>Diesel Mobile Dispensing across Lagos, Ogun, Edo, Delta and Rivers States</p>
                    <a href="/about">Click Here for more</a>
                </div>


            
        </div>
    </main>

    <footer>
        <div class="home-footer">
            <p>&copy 2022 DIESEL REFILL. ALL RIGHTS RESERVED</p>
        </div>
    </footer>
    <script src="/javascript/script.js"></script>
</body>
</html>