<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIESEL MOBILE REFILL ::MISSION::</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="white-part">
            <marquee behavior="" direction="left">
                <p class="No"><img src="/img/phone-call.png" alt="" width="19">0912-200-2000</p>
            </marquee>
        
            <div class="img">
                <img src="/img/logo.png" alt="Home" width="100">
                <p>DIESEL MOBILE REFILL</p>
            </div>

            

            <div class="nav-bar">
                <img src="/img/hamburger-menu.jpg" alt="Open menu" width="27" class="hamburger">
                <nav class="dropdown-menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/mission">MISSION & VISION STATEMENT</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="green-part">
            <p class="price"><b>Today's Diesel Price:</b> Call 0912-200-2000</p>
        </div>
        
    </header>
    <main>
        <div class="mission-statement">
            <h2>MISSION & VISION STATEMENTS</h2>

            <div class="context">
                <div class="mission">
                    <h5>MISSION STATEMENT</h5>
                    <p>
                        Marketing high quality Diesel and Department of Petroluem Resources {DPR} standard with efficient
                        delivery services alongside a focus on total quality management. We are committed to providing a wide
                        range of services to our numerous customers' satisfaction. Furthermore, our absolute fundamental aim is to
                        ensure our customers are satisfied. Our measure of value lies in the quality of our products and the
                        efficiency of our delivery system.
                    </p>
                </div>
                <div class="vision">
                    <h5>VISION STATEMENT</h5>
                    <p>
                        To be a major player in the Nation's petroluem product sales and service delivery market space; spreading
                        across Nigeria and beyond. <br><br>
                        Make sure you Sign-Up to our newsletter, so you don't miss special offers and promotions. You can also
                        follow us on various social media sites listed here.
                    </p>
                </div>
                
            </div>
        </div>
    </main>
    <footer>
        <div class="home-footer">
            <p>&copy 2022 DIESEL REFILL. ALL RIGHTS RESERVED</p>
        </div>
    </footer>
    <script src="/javascript/script.js"></script>
</body>
</html>